{% extends my_template %}
{% load static %}
{% block body_block %}
    <div class="container">
        {%   if user.is_authenticated %}


    <div class="row">
    <div class="col-12">
     <h1 class="mt-5 pb-5 pt-5 bg-info text-white text-center">Welcome {{ user.first_name |capfirst}} {{ user.last_name |capfirst}}</h1>
    </div>
    </div>
            <div class="row">
            <div class="col-6">
             <a class="btn btn-warning" style="margin-left: 80%;" href="{% url 'CropManagement:add_farm' %}">Add Farm</a>
                </div><div class="row">
                <div class="col-6">
                <a class="btn btn-warning" href="{% url 'CropManagement:farm_list' %}">View your farm</a>
                </div>
            </div>
            </div>

    </div>
{% else %}



{% endif %}
{% endblock %}
</div>

